body
{
	background-color: lightgrey;
}
h1
{
	color:purple;
	font-family: courier;
	font-size: 300%;
}

h2
{
	color:blue;
}

legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}
table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
	}
th, td {
	padding: 5px;
	text-align: left;
}