body
{
	background-color: lightgrey;
}
h1
{
	color:purple;
	font-family: courier;
	font-size: 300%;
}

h2
{
	color:blue;
}

legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}